#{extends 'main.html' /}
<h1>Reset password</h1>
<h3>Please choose a new password</h3>
<div class="fleft round">
	Minimum length for your password is 5.
</div>
<div style="width: 400px">
#{ifErrors}
	<ul class="error">
	#{errors}
		<li>${error}</li>
	#{/errors}
	</ul>
#{/ifErrors}
#{form @Auth.reset(), class: 'aligned'}
<input type="hidden" name="id" value="${userReset.id}">
<input type="hidden" name="token" value="${token}">
<label for="pw1">Password</label><input type="password" name="pw1"><br>
<label for="pw2">Repeat password</label><input type="password" name="pw2"><br>
<input type="submit" value="save new password">
#{/form}
</div>