.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

* {
	margin: 0;
}

.big {
	font-size: 1.5em;
}

h1 {
	font-size: 3em;
}

textarea {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
}

textarea.edit {
	font-size: 12pt;
	width: 400px;
	height: 100px;
}

.success {
	background: #67AD10;
	color: #fff;
	font-size: 1em;
	padding: 5px 15px;
	line-height: 2em;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 0 #4E840B;
	width: 300px;
	text-shadow: none;
	margin: 0 auto;
}

a.fat {
	padding: 10px;
	font-size: 1.5em;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #ff6c00;
	display: inline-block;
	min-width: 150px;
	text-decoration: none;
	color: #333;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: #f1f1f1 1px 1px 0px;
	letter-spacing: -1px;
	min-height: 500px;
	background-color: #f9f9f9;
}

div#outer {
	padding: 20px;
	background-color: #fff;
}

div.container {
	width: 800px;
	margin: 0 auto;
}

p {
	text-align: justify;
	margin: 5px;
}

div.round {
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
}

div#footer {
	width: 100%;
	border-top: 1px solid #ccc;
}

div#logos {
	padding: 20px;
}

div#logos .logo {
	display: inline-block;
	position: relative;
}

div#logos .logo img{
	-webkit-transition: opacity .25s linear;
	-moz-transition: opacity .25s linear;
	margin: 20px;
}

div#logos .logo img.hover {
	opacity:0;
	position: absolute;
	top: 0;
}

div#logos .logo:hover img.hover{
	opacity:1;
}

div#logos .logo img.default{
	opacity:1;
}

div#logos .logo:hover img.default{
	opacity:0;
}

div.fleft {
	float: right;
	width: 250px;
	background-color: #f9f9f9;
	padding: 15px;
	border: 1px solid #ccc;
}

div.cards {
	margin: 10px;
	width: 450px;
}

a.card {
	padding: 7px;
	margin: 4px;
	font-size: 1.2em;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #ff6c00;
	display: block;
	width: 100%;
	text-decoration: none;
	color: #333;
}

p.schedule {
	text-align: center;
}

.ratingButton {
	border: 2px solid #f9f9f9;
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
	font-size: 12pt;
	-webkit-transition: .5s linear;
}

.ratingButton:hover {
	border-color: black;
}

.correct {
	background-color: #ff6c00;
}


